@inherits LayoutComponentBase


<div style="height: 500px;">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>Todo List App</h3></Header>
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>


